.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.header-clock {
    background-color: #090b1d;
    width: 30%;
    border-radius: 30px;

}

.clock-box {
    background-color: #090b1d;
    border-radius: 2px;
}